body {
/*    border: 5px dashed hotpink;       */
    background-image: url('Images\paper_3\paper_3_@2X.png');
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    color: #777777;
    position: relative;
    
}

section.gome {
/*    border: 5px dashed green; */
    max-width: 960px;
    overflow: auto;
    position: relative;
    left: 40px;
    padding:10px;
    background-color: #ffffff;
}

header {
/*    
border: 5px dashed greenyellow;   
*/
    border-bottom: 1px solid #666666;
    background-color: #ffffff;
}

.attic {
/*    border: 5px dashed goldenrod;     */
    width: 960px;
    clear: both;
    overflow: auto;
    position: relative;
    left: 40px;
    bottom: -30px;
    
}

h1,h2,h3,h4 {
/*    border: 5px dashed black;     */
    font-family: "Georgia", Times, "Times New Roman", serif;
    color: #4aaaa5;
    
}
#firstlast {
/*    border: 5px dashed black;     */
    display: block;
    color: white;
    text-align: center;
    background-color: #4aaaa5;
    padding: 15px; 
    float: left;   
}


nav {
/*    border: 5px dashed pink;      */
    float: right;
    margin-top: 25px;
}
ul {
/*    border: 5px dashed black;     */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
/*  width: 60px;*/
}

li {
    float: right;
}
li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 12px;
    
    /*  width: 60px;*/
}
li a:link {
    color: #777777;
/*    border: 1px solid grey;       */
}
li a:visited {
    color: #4aaaa5;
}
li a:hover {
    color: white;
    background-color: #4aaaa5;
}
li a:active {
    color: maroon;
}
/*
li a:hover {
    background-color: hotpink;
}
*/

.middle {
/*    border: 5px dashed blue;      */
    background-image: url('Images\paper_3\paper_3_@2X.png');
    clear: both;
    overflow: auto;
    position: relative;
    padding: 20px 0 50px 0;
    background-color: #afafaf;
}
/*
.gome {
    border: 5px dashed aqua;
    background-color: #ffffff;
    max-width: 960px;
}
*/
.picme {
/*    border: 5px dashed gray;      */
    float: left;
    padding: 20px 20px 20px 0;

}
.para {
/*    border: 5px dashed red;       */
    border-top: 1px;
    border-top-style: solid;
    border-top-color: #dddddd;
}
/*
.goe {
    border-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-color: #666666;
}
*/
p {
    line-height: 2em;
    
}
footer {
/*    border: 5px dashed black;     */
    text-align: center;
    font-size: 10px;
    color: #dddddd;
    /*    
    position: fixed;
    bottom:0;
    height: 5%;
    width: 100%;        */
    background-color: #666666;
    border-top: 5px solid #4aaaa5;
}



