body {
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    color: #777777;
}
/*
section {
    padding: 10px;
    max-width: 960px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #dddddd;
}
*/
.header {
   max-width: 960px;
   position: fixed;
   top: 0;
   width: 100%;
   height: 15%;
   background-color: #ffffff;
   border-bottom: 1px solid #666666; 
}

h1,h2,h3,h4 {
    font-family: "Georgia", Times, "Times New Roman", serif;
    color: #4aaaa5;
    
}
#firstlast {
    display: inline;
    color: white;
    text-align: center;
    background-color: #4aaaa5;
    padding: 15px; 
    float: left;
   
}


nav {
    float: left;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
/*  width: 60px;*/
}

li {
    float: right;
}
li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 0 12px;
    
    /*  width: 60px;*/
}
li a #portfolio {
    border: 1px solid grey;
}

/*
li a:hover {
    background-color: hotpink;
}
*/

.middle {
    clear: both;
    background-image: url('images/mooning/mooning.png');
    position: relative;
    top: 80px;
    left: 30px;
    right: 30px;
    bottom: 5px;

}
.gome {
    background-color: #ffffff;
    max-width: 960px;
}
.picme {
    float: left;
}
.para {
    
}

footer {
    text-align: center;
    font-size: 10px;
    color: #dddddd;
    position: fixed;
    bottom:0;
    width: 100%;
    background-color: #666666;
    height: 5%;
    border-top: 5px solid #4aaaa5;
}



